.social-media-button-displayer {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 1rem;

    button {
        $size: 3rem;

        aspect-ratio: 1;
        width: $size;
        height: $size;

        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;

        padding: 0.6rem;

        background-color: var(--background-colour);
        border-radius: 100%;

        transition: background-color 500ms, transform 500ms;

        svg {
            width: 100%;
            height: 100%;
        }

        &:is(:hover, :focus-within) {
            transform: scale(1.2);

            background-color: var(--fore-colour);

            svg {
                fill: var(--background-colour);
                stroke: var(--background-colour);
            }
        }
    }
}