.page-heading {
    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center stretch;
    place-items: center stretch;

    margin: calc(-1 * var(--padding));
    margin-bottom: 0;

    color: var(--background-colour);
    background-color: var(--main-colour);

    h1 {
        width: 100%;
        font-size: 4rem;

        padding: 3rem 9rem;
    }
}