.tab-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 4rem;

    padding: 2rem;

    .button-displayer {
        --padding-inline: 4rem;

        position: relative;

        width: 100%;

        place-content: stretch;
        place-items: stretch;
        gap: 2rem;

        padding-block: 1rem;

        overflow-y: hidden;
        overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;

        scroll-snap-type: x mandatory;

        mask-image: linear-gradient(90deg,
                transparent 0%,
                black var(--padding-inline),
                black calc(100% - var(--padding-inline)),
                transparent 100%);

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            white-space: nowrap;
            scroll-snap-align: center;

            transition: background-color 500ms, color 500ms, transform 500ms;

            &:first-child {
                margin-inline-start: var(--padding-inline);
            }

            &:last-child {
                margin-inline-end: var(--padding-inline);
            }

            &:is(:hover, :focus-within, [data-is-selected=true]) {
                transform: scale(1.1);

                color: var(--background-colour);
                background-color: var(--main-colour) !important;
            }
        }
    }
}