@use "../../index.scss";

#about-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .page-heading {

        section {

            img {
                object-position: 100% 100%;

                opacity: 0.35;
            }
        }
    }

    &>main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: stretch center;
        place-items: stretch center;

        figure {
            display: flex;
            place-content: center;
            place-items: center;

            img {
                width: 150%;
                max-width: 80rem;
                object-fit: contain;
            }
        }

        &>main {
            display: flex;
            flex-direction: column;
            place-content: start center;
            place-items: start center;
            gap: 3rem;

            h2 strong {
                text-transform: uppercase;
            }

            p {
                color: var(--main-colour);
            }
        }
    }

    #service-displayer {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        gap: 3rem;

        &>main {
            display: grid;
            place-self: stretch;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
            place-content: center;
            place-items: center;
            gap: 3rem;

            .service-card {
                text-align: center;

                display: flex;
                place-content: center;
                place-items: center;

                padding: 2rem;

                background-color: var(--main-lighter-colour);

                border-radius: 1rem;

                transition: transform 500ms;

                &:is(:hover, :focus-within) {
                    transform: scale(1.1);
                }
            }
        }
    }

    @media (max-width: index.$second-screen-width) {

        &>main {
            display: flex;
            place-content: center;
            place-items: center;

            &>figure {
                display: none;
            }
        }
    }
}