.lazy-image {
    transition: opacity 500ms;
    opacity: 1;

    &.lazy-image-hidden {
        filter: none;
        opacity: 0;
    }

    &.pixelated-lazy-image {
        position: absolute;

        filter: blur(10px);
    }
}