@use "../../index.scss";

#accessories-page {

    .page-heading {
        height: 30rem;

        margin-bottom: -15rem;

        h1 {
            margin-top: -10rem;
        }

        &>section {
            position: relative;
            height: 30rem;
            width: 45rem;

            place-content: center;
            place-items: center;

            pointer-events: none;

            img {
                position: absolute;
                top: -3rem;
                right: 6rem;
                height: calc(50% + 3rem);
                object-fit: cover;
                object-position: 0% 0%;
            }

            @media (max-width: index.$second-screen-width) {

                display: none;
            }
        }
    }

    &>main {
        $box-shadow: 0.1rem 0.1rem 0.5rem var(--quarter-transparent),
            -0.1rem 0.1rem 0.5rem var(--quarter-transparent),
            0.1rem -0.1rem 0.5rem var(--quarter-transparent),
            -0.1rem -0.1rem 0.5rem var(--quarter-transparent),
        ;

        display: flex;
        flex-direction: column;
        place-content: center stretch;
        place-items: center stretch;

        padding: 4rem;

        background-color: var(--background-colour);

        border-radius: 4rem;

        box-shadow: $box-shadow;

        .tab-container {
            width: 100%;

            &>section {
                display: flex;
                flex-direction: column;
                place-content: center stretch;
                place-items: center stretch;
                gap: 4rem;

                &>section {
                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    place-items: center;
                    gap: 3rem;

                    h3 {
                        font-weight: bold;
                        font-size: 2rem;
                    }

                    figure {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        place-content: center;
                        place-items: center;
                        gap: 2rem;

                        width: 70vw;
                        max-width: 70rem;

                        img {
                            width: 100%;

                            border-radius: 1rem;

                            transition: box-shadow 250ms;

                            cursor: pointer;

                            &[data-two-rows] {
                                grid-row: span 2;
                            }

                            &:is(:hover, :focus-within) {
                                outline: none;
                                box-shadow: $box-shadow;
                            }
                        }

                        @media (max-width: index.$third-screen-width) {
                            display: flex;
                            flex-direction: column;
                            place-content: center;
                            place-items: center;
                        }
                    }
                }

                &>main {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    place-items: center;
                    gap: 3rem;

                    &>section {
                        width: 100%;

                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
                        place-content: center;
                        place-items: center;
                        gap: 2rem;

                        padding: 1rem;

                        .card {
                            $border-radius: 1rem;

                            width: 100%;
                            max-width: 30rem;

                            display: flex;
                            flex-direction: column;

                            border-radius: $border-radius;

                            overflow: hidden;

                            transition: transform 250ms, box-shadow 250ms;

                            cursor: pointer;

                            &:is(:hover, :focus-within) {
                                outline: none;
                                transform: scale(0.95);
                                box-shadow: $box-shadow;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                aspect-ratio: 1;
                                object-fit: cover;

                                border-radius: $border-radius;
                            }

                            &>div {
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;

                                padding: 2rem;

                                h4 {
                                    font-size: 2.5rem;
                                }

                                p {
                                    color: var(--main-colour);
                                }
                            }
                        }
                    }
                }

                &>section img,
                .card {
                    animation-name: image-entrance-animation;
                    animation-duration: 250ms;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    animation-direction: normal;
                    animation-timing-function: ease-out;

                    @keyframes image-entrance-animation {

                        0% {
                            transform: scale(0);
                            opacity: 0;
                        }

                        100% {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        button {
            padding: 2rem;

            background-color: var(--main-lighter-colour);

            border-radius: 100rem;
        }
    }
}