#footer {
    --padding: 3rem;

    display: flex;
    place-content: start space-between;
    place-items: start space-between;
    flex-wrap: wrap;
    gap: 3rem;

    padding: var(--padding);

    color: var(--background-colour);
    background-color: var(--main-colour);

    z-index: 10;

    &>section {
        display: flex;
        flex-direction: column;
        place-content: start center;
        place-items: start center;
        gap: 2rem;
        height: 100%;

        .navigation-bar ul {
            flex-direction: column;

            li {
                padding: 1rem 2rem;
                display: flex;
                flex-direction: column;

                a {
                    margin: -1rem -2rem;

                    border-radius: 1rem;

                    transition: background-color 500ms;

                    &::after {
                        content: none;
                    }

                    &:is(:hover, :focus-within) {
                        background-color: var(--main-lighter-colour);
                    }
                }
            }
        }
    }

    .icon-text-displayer {
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
        gap: 2rem;

        .icon-text svg {
            fill: var(--background-colour);
            stroke: var(--background-colour);
        }
    }

    #copyright {
        width: 100%;

        flex-grow: 1;

        margin-left: calc(-1 * var(--padding) / 2);
        margin-bottom: calc(-1 * var(--padding) / 2);
    }
}