@use "../../../index.scss";

#header {
    $header-padding: 2rem;
    $header-background-colour: var(--main-colour);

    position: sticky;
    top: 0;

    height: calc(var(--header-height) - $header-padding * 2);

    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center start;
    place-items: center start;
    gap: 1rem;

    padding: $header-padding;

    background-color: $header-background-colour;

    z-index: 10;

    #header-left-side {
        $logo-size: 9rem;
        $logo-border-thickness: 0.75rem;

        display: flex;
        place-content: center;
        place-items: center;
        gap: 2rem;

        &>img {
            position: absolute;
            top: calc($header-padding / 2);
            left: calc($header-padding / 2);

            width: calc($logo-size - $logo-border-thickness * 2);
            aspect-ratio: 1;

            background-color: var(--secondary-colour);

            border-radius: 100%;
            border: $logo-border-thickness solid $header-background-colour;

            cursor: pointer;

            z-index: 1;
        }

        &>p {
            margin-left: $logo-size;
        }

        #signing-button-displayer {

            button {
                padding: 0;

                a {
                    text-decoration: none;

                    padding: 1rem;

                    background-color: var(--main-lighter-colour);

                    border-radius: inherit;
                }
            }
        }
    }

    .navigation-bar {
        $navigation-bar-block-padding: 3.5rem;

        position: fixed;
        top: var(--header-height);
        right: 0;

        height: calc(100vh - $navigation-bar-block-padding * 2);
        height: calc(100dvh - $navigation-bar-block-padding * 2);

        padding-bottom: $navigation-bar-block-padding;

        background-color: var(--main-colour);

        transition: transform 500ms;

        &[data-opened=false] {
            transform: translateX(100%);
        }

        ul {
            flex-direction: column;
            gap: 0;

            li a {
                padding: 2rem 4rem;

                border-radius: 0;
            }
        }
    }

    #toggling-button-displayer {

        button {
            padding: 0;

            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;

            background-color: transparent;
            border: none;

            svg {
                width: 100%;
            }
        }

        #navigation-bar-button {
            $size: 3rem;

            width: $size;
            height: $size;
        }
    }
}