.read-more-text {
    cursor: pointer;

    &[data-is-untogglable=true] {
        cursor: inherit;
    }

    &[data-is-folded=false] {
        display: -webkit-box;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        overflow: hidden;
    }
}