.navigation-bar {
    --highlight-colour: gray;

    ul {
        gap: 0;

        padding: 0;
        background-color: inherit;
        flex-direction: row;

        li {
            list-style-type: none;

            background-color: inherit;
        }
    }
}