.navigation-bar {

    ul {
        height: 100%;

        flex-direction: row;
        gap: 3rem;

        padding: 0;
        background-color: inherit;

        li {
            list-style-type: none;

            display: flex;

            background-color: inherit;

            a {
                text-decoration: none;
                text-align: center;

                flex-grow: 1;

                background-color: inherit;

                transition: background-color 500ms;
            }

            &:is([data-navigated-to=true], :hover) a {
                background-color: var(--main-lighter-colour);
            }
        }
    }
}