@use "../../index.scss";
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

#home-page {
    --padding: 1rem;

    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    #hero-section {
        --section-padding-block: 6rem;
        --section-padding-inline: 12rem;

        width: calc(70% - var(--section-padding-inline));
        height: calc(80% - var(--section-padding-block));
        margin-left: calc(-1 * var(--padding));


        padding: var(--section-padding-block) var(--section-padding-inline);

        color: var(--background-colour);
        background-color: var(--main-colour);

        &>div {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto) 1fr;
            place-content: center start;
            place-items: center start;
            gap: 1rem;

            h1 {
                --font-size: 4.8rem;

                font-family: "Paprika";
                font-weight: normal;
                font-size: var(--font-size);

                text-transform: uppercase;

                width: min-content;
            }

            .social-media-button-displayer {
                transform: translateY(calc(var(--padding) - 0.5rem));
            }
        }

        figure {
            position: absolute;
            bottom: 0;
            right: 0;

            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    @media (max-width: index.$second-screen-width) {

        #hero-section {
            --section-padding-inline: 4rem;
            width: calc(100% - var(--section-padding-inline) * 2 + var(--padding) * 2);

            display: grid;
            grid-template-columns: repeat(2, 1fr);

            margin-inline: calc(-1 * var(--padding));

            overflow: hidden;

            h1 {
                font-size: max(min(var(--font-size), 5vw), 2em);
            }

            &>figure {
                position: relative;

                bottom: calc(-1 * var(--section-padding-block));

                display: flex;
                place-content: end;
                place-items: end;

                img {
                    height: auto;
                }
            }
        }
    }

    @media (max-width: index.$third-screen-width) {

        #hero-section {
            grid-template-columns: 1fr;
            place-content: center;
            place-items: center;

            &>div {
                width: min-content;
            }

            &>figure {
                display: none;
            }
        }
    }
}